<h1>Author: <%= @author.name %></h1>

<h2>Books</h2>
<%= render @author.books %>

<h2>Add a book:</h2>
<%= render 'books/form' %>

<tr>
  <td><%= link_to "Edit Author", edit_author_path(@author) %> | </td>
  <td><%= link_to "Destroy Author", author_path(@author), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> | </td>
  <td><%= link_to "Go to Home", authors_path %></td>
</tr>
